/* ===========EXPERIENCIA*/
.experience {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.margin-top{
   margin-bottom: 5px;
    font-weight: 500;
}
#job,
#academic {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: baseline;
    padding-left: 0;
    
}

.experience_ind {
    display: flex;
    flex-direction: column;
}

.experience_ind h2 {

    font-size: 30px;
    font-weight: 800;
    padding-left: 8px;
    margin-top: 40px;

}

.experience_ind h3 {
    font-size: 22px;
    padding: 0px 5px 0px 10px;
    color: #009E12;
    font-weight: 500;
    margin-top: 20px;

}

.experience_ind h4 {
    font-size: 20px;
    padding: 0px 5px 0px 10px;
    color: #009E12;
    font-weight: 430;
}

.experience_ind p {
    font-size: 14px;
    padding: 0px 0px 5px 10px;
    margin-top: initial;
    word-spacing: -3px;
    text-wrap: inherit;
}







@media screen and (max-width: 1024px) {
    .experience_ind h2 {
        font-size: 24px;
        
    }
    .experience_ind h3 {
        font-size: 20px;
    }
    .experience_ind h4 {
        font-size: 18px;
    }
    .experience_ind p {
        font-size: 16px;
        text-wrap: inherit;
        
    }
    
    #experience {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    #job{
        padding-left: 0;
    }
}


@media screen and (max-width: 768px) {
 
    .experience {
        flex-direction: column; 
    }

    #job,
    #academic {
        width: 100%; 
        margin: 0 ;
       
        padding: 0;
        margin-bottom: 50px;
    }
    .experience_ind h3 {
      padding-top: 0px;
      margin-top: 5px;
    }
    .experience_ind h2 {
      font-size: 30px;
      width: 360px;
    
      }

}
@media screen and (max-width: 480px){
    .experience_ind h2 {
        font-size: 26px;
    }
    .experience_ind h3 {
        font-size: 18px;
    }
}