header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu {
    background-color: #FFFFFF;
    height: 70px;
    border-bottom: 2px solid #009E12;
    border-radius: 0px 0px 8px 8px;

}

.menu__container {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.menu__links {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.menu__item {

    list-style: none;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.menu__link {
    color: #000000;
    text-decoration: none;
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    width: 200px;
    justify-content: center;
    background-color: #FFFFFF;
}

.menu__link:hover {
    color: #009E12;

}


.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 20px;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #1A202C;
    width: 100px;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
}

.menu__link--inside {
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
    background-color: #798499;
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 36px;
}


/* CHANGE LANGUAGE =========================================================*/
.switch_language {
    width: 70px;
    height: 35px;
    padding: 0 5px;
    display: flex;
    position: relative;
    justify-content: space-between;
    border-radius: 100px;
    border: #009E12 solid 2px;
    text-align: center;
    justify-content: center;
}

.switch_language p {
    flex: 0.5;
    text-align: center;
    margin: 0;
}

.switch_language p:first-child {
    margin-left: 0px;
}

.switch_language p:last-child {
    margin-right: 0px;
}

.switch_language p {
    font-size: 18px;
    margin-top: 2px;
    padding: 0px;



}

.switch_language p.english {
    display: none;
}

.switch_language p.spanish {
    display: none;
}

.switch_language p.active {
    display: block;
}

.menu_option_language li:last-child::before {
    content: "";
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #009E12;
    border: solid thin #000;
    left: 0;
    right: unset;


}

.menu_option_language li:last-child.active::before {
    right: 0;
    left: unset;

}

.border {
    border-radius: 100px;
    width: 25px;
    height: 25px;
    color: #FFFFFF;
    align-items: center;
    margin-top: 5px;
    padding: 0px 5px;
    color: #000000;
}

.switch_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;

}

.menu__link.active-nav-link {
    color: #009E12; 
    font-weight: bold;
   
}

@media screen and (max-width: 1440px) {
    .menu__link {
        width: 150px;
    }

    .menu__nesting {
        width: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .menu__link {
        width: 120px;
        font-size: 15px;
    }

    .menu__nesting {
        width: 100px;
    }

    .switch_language p {
        font-size: 15px;
    }

    .switch_language {
        width: 60px;
        height: 30px;
        padding: 0 5px;
    }

    .menu_option_language li:last-child::before {
        height: 20px;
        width: 20px;
        margin-top: 2px;
    }

    .switch_dark {
        font-size: 22px;
    }
}


@media screen and (max-width: 768px) {
    .menu__link {
        width: 65px;
        font-size: 10px;
    }

    .menu__nesting {
        width: 80px;
    }

    .switch_language p {
        font-size: 12px;
    }

    .switch_language {
        width: 40px;
        height: 24px;
        padding: 0 2px;
      
    }

    .menu_option_language li:last-child::before {
        height: 15px;
        width: 15px;
        margin: 1px 2px; 


    }

    .switch_dark {
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    .menu__link {
        width: 120px;
        font-size: 15px;
    }

    .menu__nesting {
        width: 100px;
    }

    .switch_language p {
        font-size: 15px;
    }

    .switch_language {
        width: 60px;
        height: 30px;
        padding: 0 5px;
    }

    .menu_option_language li:last-child::before {
        height: 20px;
        width: 20px;
        margin-top: 2px;
    }

    .switch_dark {
        font-size: 22px;
    }
  /*   .menu__hamburguer {
        display: flex;
    } */

   /*  .menu__item {
        --clip: 0;
        overflow: hidden;
    } */

  /*   .menu__item--active {
        --transform: rotate(0);
        --background: #5e7094;
    } */

    /* .menu__item--show {
        background-color: var(--background);
    } */

/* 
    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    } */

 /*    .menu__links--show {
        transform: unset;
        width: 100%;
    } */

  /*   .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    } */

  /*   .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }
 */
 /*    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
 */
   /*  .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    } */
}