.title {
    margin-top: 150px;
    margin-left: 130px;
    font-size: 30px;
    width: 70%;
    display: flex;
}


.presentation {
   
    text-align: center;
    display: flex;
    flex-direction: row;
   
    padding: 20px;
    
}
   
.profile {
    text-align: center;
    margin-right: 40px;
}

.img_profile {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 180px;
    
}

.introduction {
    width: 40%;
    text-align: center;
    margin-top: 40px;
    margin-left: 110px;
    font-size: 14px;
}
.introduction p{
        text-align: left;
    }
.boton_git,
.btn-cv {
    margin-top: 20px;
    font-size: 14px;
    padding: 1px 4px;
    border: #009E12 solid 2px;
    text-decoration: none;
    border-radius: 10px;
    padding: 2px 8px;
    margin-right: 11px;

}


.btn-cv {
    display: inline-block;
    
}

#cv-link {
    text-decoration: none;
    color: #000;
}

/* 
@media screen and (max-width: 1440px) {

    .introduction {
        font-size: 18px;
    }
    .boton_git,
    .btn-cv {
        font-size: 14px;
    }
    .img_profile {
        width: 200px;
        height: 200px;
    }
    .title {
        font-size: 35px;
    }
} */
@media screen and (max-width: 1024px) {
    .introduction {
        font-size: 16px;
        width: 50%;
    }
    .boton_git,
    .btn-cv {
        font-size: 12px;
    }
    .img_profile {
        width: 180px;
        height: 180px;
    }
    .title {
        font-size: 35px;
    }
}
@media screen and (max-width: 768px) {
    .presentation {
        margin-left: 9%;
        flex-direction: column; 
        margin-top: 0;
        margin-bottom: 0;
    }  
    .title{
        text-align: left;
        padding-left: 10%;
        font-size: 24px;
    }
      .introduction {
        width: 80%;
        font-size: 16px;
        padding-top: 0;
        margin-top: 10px;
        text-align: left;
       
    }
    .profile {
        text-align: left;
        padding-left: 80px;
    }
    .boton_git,
    .btn-cv {
        font-size: 14px;
    }
    .img_profile {
        width: 150px;
        height: 150px;
    }
  
    .precentatio-corto{
       text-align: left;
    }
}
@media screen and (max-width: 480px) {
    .title {
        font-size: 24px;
    }

    .introduction {
        width: 100%;
        font-size: 14px;
    }
    .profile {
        
        padding-left: 60px;
    }
}