@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* .roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.highlight{
    color: #009E12;
}

body {
    background-color: #FFFFFF;
}


/* Main */
main {
    width: 80%;
    margin: 0 auto;
}
/* FOTO Y PRESENTACION */
.title {
  margin-top: 100px;
    text-align: center;
    font-size: 24px;
}


.presentation {
   margin-top: 20px; 
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}


.profile{
    justify-content: top;
    margin: 0px 0px 0px 200px;
}
.img_profile {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.boton_git{
  
    text-decoration: none;
    border: #009E12 solid 2px;
    width: 40px;
    border-radius: 10px;
    padding: 1px 4px;
    color: #000;
}

.btn-cv {
    display: inline-block;
    padding: 1px 4px;
    border: #009E12 solid 2px;
    text-decoration: none;
    border-radius: 10px;
}

#cv-link {
    text-decoration: none;
    color: #000;
}






.about {
    width: 200px;
}

.about p{
    font-size: 20px;
    width:250px;
}



/* ===========EXPERIENCIA*/
.experience {
 width: 100%;
    display: flex;
    margin: 0 auto;
 
}
#job, #academic{
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    
    
}
.experience_ind {
    display: flex;
    flex-direction: column;
}
.experience_ind h2{
  
    font-size: 40px;
    font-weight: 400;
  
 }
.experience_ind h3{
    font-size: 30px;
   padding: 0px 5px 0px 10px;
   color: #009E12;
   font-weight: 500;
   
}
.experience_ind h4{
    font-size: 30px;
    padding: 0px 5px 0px 10px;
    color: #009E12;
   font-weight: 500;
 }
 .experience_ind p{
    font-size: 20px;
    padding: 0px 5px 0px 10px;
 }



 /* PORTFOLIO */
 .main-portfolio {
    width: 80%;
}

#portafolio-section {


    display: flex;
    flex-direction: column;
}


.img-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid #009E12;
    padding: 20px 30px;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 10px;
}



.img-container img {
    padding: 10px;
    display: block;
    width: 400px;
    height: 200px;
    border-radius: 20px;

}

.img-container a {

    bottom: 0;

    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.texto-encima {
    margin-top: 25px;
    color: #000;
    display: flex;
    flex-direction: column;
}

.texto-encima a {
    margin-top: 40px;
    text-decoration: none;

   
    padding: 0;
    color: #000;
} 

.texto-encima a p {
    margin: 0 auto;

}

.texto-encima p {
    margin-top: 10px;
    width: 80%;

}