@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* .roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.highlight {
    color: #009E12;
}

body {
    background-color: #FFFFFF;
}

main {
    width: 80%;
    margin: 0 auto;
}






@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        margin: 0 auto;
    }
    
}
