@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* .roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.highlight {
    color: #009E12;
}

body {
    background-color: #FFFFFF;
}


/* Main */
main {
    width: 80%;
    margin: 0 auto;
}

/* FOTO Y PRESENTACION */
.title {
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
}


.presentation {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    margin-bottom: 100px;
}


.profile {
    justify-content: top;
    ;
    text-align: center;
}

.img_profile {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-right: 100px;
}

.introduction {
    width: 30%;
    text-align: center;
    margin-top: 80px;

    font-size: 25px;
}

.boton_git {
    margin-top: 20px;
 font-size: 22px;
    text-decoration: none;
    border: #009E12 solid 2px;
    width: 40px;
    border-radius: 10px;
    padding: 1px 4px;
    color: #000;
}

.btn-cv {
    margin-top: 20px;
    font-size: 22px;
    display: inline-block;
    padding: 1px 4px;
    border: #009E12 solid 2px;
    text-decoration: none;
    border-radius: 10px;
}

#cv-link {
    text-decoration: none;
    color: #000;
}



/* ===========EXPERIENCIA*/
.experience {
    width: 80%;
    display: flex;
    margin: 0 auto;

}
.margin-top{
   margin-bottom: 5px;
    font-weight: 500;
}
#job,
#academic {
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: baseline;
    padding-left: 12%;
}

#job {
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: baseline;
    padding-left: 6%;
}

.experience_ind {
    display: flex;
    flex-direction: column;
}

.experience_ind h2 {

    font-size: 40px;
    font-weight: 800;
    padding-left: 8px;

}

.experience_ind h3 {
    font-size: 28px;
    padding: 0px 5px 0px 10px;
    color: #009E12;
    font-weight: 500;
    margin-top: 20px;

}

.experience_ind h4 {
    font-size: 25px;
    padding: 0px 5px 0px 10px;
    color: #009E12;
    font-weight: 430;
}

.experience_ind p {
    font-size: 20px;
    padding: 0px 5px 0px 10px;
    text-wrap: balance;
    margin-top: initial;
}

.formacion{
  width: 500px;
}

/* PORTFOLIO */
.main-portfolio {
    width: 80%;
}

#portafolio-section {


    display: flex;
    flex-direction: column;
}


.portfolio-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    border: 2px solid #009E12;
    padding: 20px 30px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10px;
}



.portfolio-container img {
    padding: 0px;
    display: block;
    width: 500px;
    height: 300px;
    border-radius: 20px;

}

.portfolio-container a {
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.texto-encima {
    margin-top: 25px;
    color: #000;
    display: flex;
    flex-direction: column;
}

.texto-encima a {
    margin-top: 40px;
    text-decoration: none;


    padding: 0;
    color: #000;
}

.texto-encima a p {
    margin: 0 auto;

}

.texto-encima p {
    margin-top: 10px;
    width: 80%;

}
.row {
    display: flex;
    flex-direction: row;
    text-align: center;
   
}
.row a {
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    margin-top: 40px;
}
.row img {
    width: 100px; 
    height: 100px; 
    object-fit: contain;
}
 .nodejs-png{
    width: 110px !important;
    height: 110px !important;
}
.phpmyadmin-png{
    width: 120px !important;
    height: 90px !important;
}
.sql-png{
    width: 110px !important;
    height: 110px !important;
}
   
 
.js-png{
    width: 96px !important;
    height: 96px !important;
} 
.css-png {
    width: 94px !important;
    height: 94px !important;
    margin: 0px 20px;
} 
/* SOBRE MI */

.about {
    width: 70%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 20px;

}

.about-title {
    margin-top: 100px;
    margin-left: 15%;
    width: 70%;
    font-size: 40px;
}

/* CXONTACT */
.contact-conteiner {
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    margin: 100px 0px 100px 15%;


}

#email-text {

    border: 2px solid #009E12;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    width: 310px;
height: 40px;
}

.row-contact {
   
    display: flex;
    flex-direction: row;
    text-align: center;
   
}
.copy-button {
    width: 35px;
    height: 35px;
    margin-right: 100px;
    margin-left: 20px;
    cursor: pointer;

}

@media (max-width: 2800px) {
    #academic {
        width: 800px;

    }

}

@media screen and (max-width: 1440px) {
    .img_profile {
        width: 250px;
        height: 250px;
    }
    .introduction{
        width: 40%;
    }
    .experience_ind h2 {
        font-size: 34px;
        width: 400px;
    }
    .experience_ind h3 {
        font-size: 24px;
    }
    .experience_ind h4 {
        font-size: 22px;
    }
    .experience_ind p {
        font-size: 18px;
        text-wrap: inherit;
        width: 400px;
    }
    .experience_ind {
      width: 360px;
   
    }
    #academic {

    }
}


@media screen and (max-width: 1024px) {
 
}


@media screen and (max-width: 768px) {
 
 
}
